<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 
  </head>
  <body>
    <div id="map"></div>
    <div id="tram"></div>
  
 
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJcC-iTbiurisPUUqn6dd3LVtadL57XEI&callback=initMap"
    async defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"  ></script>
    <script >
  
      let coordinates='fhewiofhewofieowhfiowefhioewhfiowfhiowefhwiofhwoiefhiowfhewoifheiwofhwiofhwoifhweoifweoifiowfhwiorhwoifeiowfhwiofwhoifhwoifehwoifwihfiowfhio'
      let coord_temp= document.getElementById('tram').innerHTML
     coord_temp=coordinates
      let socket = io('http://localhost:5000');
      socket.on('connect', function(){
        console.log('yes')
        socket.emit('my event', {data: 'I\'m connected!'});

        });
        
      socket.on('tram',function(coordinates){
  
      console.log(coordinates)
        let latitude=coordinates[0]
      let longitude=coordinates[1]
      for(let i=0;i<latitude.length;i++){
        let num=i+1
        new google.maps.Marker({
          position: {lat: latitude[i], lng: longitude[i]},
          map: map,
        title: num.toString()
    });
  }
  
        }
        )

      
        

    </script>
    
    
  </body>

  