<!DOCTYPE html>
<html>
  <head>
    <title>MCAV Public Transport Integration Visualisation</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 
  </head>
  <body>
    <div id="map"></div><!--Placeholder for map -->
 
  
 
  <script src="{{url_for('static', filename='js/main.js')}}"></script><!--Connecting html with javascript-->
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJcC-iTbiurisPUUqn6dd3LVtadL57XEI&callback=initMap"
    async defer></script><!--Google Maps API access-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"  ></script><!--Socket.IO access -->
    <script >
  
      
      
     
      let socket = io('http://localhost:5000');//Initialising socket.IO server
      const tramicon= 'https://img.icons8.com/cotton/30/000000/tram--v6.png'
      const busicon= 'https://img.icons8.com/office/16/000000/bus.png'
      const trainicon= 'https://img.icons8.com/emoji/30/000000/train-emoji.png'
      let iconlist=[tramicon,tramicon,busicon,trainicon]
      socket.on('connect', function(){
        console.log('connected')//Testing if connection works and shows on terminal 
        socket.emit('my event', {data: 'I\'m connected!'});
        });
        

      function deleteMarkers(){//Deleting old markers and then replacing them with updated data
          for(i=0; i<markers.length;i++){
          markers[i].setMap(null);
          }
          markers = [];
          }
     

      const wait = (ms) => new Promise(resolve => setTimeout(resolve, ms))
      const loop = async () => {
        let connected=true
        while(connected==true){//Creating infinite loop to continously update the data 
      
        let markers=[]//Initialisng markers
        

        socket.emit('spawn')//Activating API call from ptnsw.py
        socket.on('data',function(data){//From emitting event (spawn) this event (tram) is triggered) 
        for(let k=0;k<iconlist.length;k++){
        //console.log(coordinates)//Testing if coordinates are present 
        let latitude=data[k][0]//Extracting coordinates
        let longitude=data[k][1]
        
        
        for(let i=0;i<latitude.length;i++){//Creating all the markers
          let marker=new google.maps.Marker({  
            map: map,      
              })

            markers.push(marker) 
            myLatlng=new google.maps.LatLng(latitude[i],longitude[i])
            markers[i].setPosition(myLatlng)
            markers[i].setTitle(i.toString())
            markers[i].setIcon(iconlist[k])
            }
       
          }

        }
        )


      
      await wait(1000)//Updating frequency
      

       }
      }
      loop()//Repeating loop 
        
     

      
        

    </script>
    
    
  </body>

  