<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 
  </head>
  <body>
    <div id="map"></div>
    <div id="data"></div>
  
 
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJcC-iTbiurisPUUqn6dd3LVtadL57XEI&callback=initMap"
    async defer></script>
    
    <script src="./node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js" type="text/javascript" charset="utf-8">
        
        var socket = io();
        socket.on('connect', function() {
        socket.emit('info');
        
    });
      
     
    </script>
    
  </body>

  